node_modules
bower_components
dist
cache

*.js
*.map

!makefile.js
!webpack.config.js
!gulpfile.js

!actions.js

!menu.js

!EditorController.js
!AudioViewerController.js
!CodeEditorController.js
!ImageViewerController.js
!SettingsMenuController.js
!StartMenuController.js
!VideoViewerController.js
!ModulesController.js

!ThemeManager.js
!FileManager.js
