md-tabs, h1, h2, h3 h4, h5, h6, span, img, .TableSubheader, button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

#code {
    width: 100%;
    height:100%;
    margin: 0px;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
}

#ViewFrame {
    width: 100%;
    height:100%;
    margin: 0px;
    position: fixed;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
}

#FileActionButton{
    position:absolute;
    top: 0;
    right: 0;
    Z-index: -999;
    margin-top: 20px;
    margin-right: 20px;
}

#FabSpeedDial-View {
    position:absolute;
    top: 0;
    right: 0;
    Z-index: 999;
}

#img-viewer{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:60%;
    -ms-interpolation-mode: bicubic
}

#audio-viewer {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#video-viewer {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#StartUpTitleHeader {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#OpenExistingDirButton {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
    bottom: 0;
}

#SettingsRow {
    left: 0;
    right: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#SettingsSwitch {
    float: right;
    right: 0 !important;
    margin-right: 25px;
}

.AppComponent {
    width: 100%;
    height:100%;
    margin: 0px;
    position: fixed;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
}

.LayoutComponent {
    width: 100%;
    height:100%;
    margin: 0px;
    position: fixed;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
}

.EditorComponent {
    display: inline-block;
    /*position: absolute;*/
    overflow:hidden;
    vertical-align: top;
    width: 100%;
    height: calc(100% - 32px);
    margin: 0px;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
}

.InfoBarComponent {
  display: inline-block;
  /*position: fixed;*/
  vertical-align: top;
  width: 100%;
  height: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.SidePaneSection {
  width: 20%;
  height: 100%;
  min-width: 200px;
}

.ContentSection {
  width: 80%;
  height: 100%;
  margin: 0px;
  position: fixed;
  overflow:hidden;
  top:0;
  right:0;
  bottom:0;
  border-width: 0px;
}

.SidePaneTrayComponent, .ContentViewTrayComponent {

    float: left;
    outline: solid 0px #000;
    resize: both;
    height: 100%;
}

div.SidePaneTrayComponent {
    width: 20%;
    min-width: 200px;
    /*background-color: #222222;*/
}

div.ContentViewTrayComponent {
    width: 80%;
    min-width: 200px;
    max-width: 100%;
    /*background-color: #292929;*/
}

.OAEDButton {
  position: relative;
  color: #ffffff;
  border-width: 0px;
  width: 90%;
  min-width: 180px;
  height: 32px;
  background-color: rgb(0, 168, 82);
  margin-top: 100%;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.OAEDButton:hover {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(4, 129, 65);
}

.OAEDButton:active {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(2, 89, 45);
}

.OAEDButton:focus {
  outline: none;
}

.TrayButtonComponent {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  padding: 0;
}

.TrayButtonComponent:hover {
  color: #ffffff;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.TrayButtonComponent:active {
  color: #ffffff;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.TrayButtonComponent:focus {
  outline: none;
}

.SPTSettingsButton {
  right: 0 !important;
  float: right !important;

  margin-right: 0px !important;
}

.SidePaneMenuButton {
  left: 0;
  float: left;

  margin-left: 0px !important;
}

.TrayButtonIconComponent {
  padding-top: 2px;
}

.AddFileMenu {
  position:absolute !important;
}

#svgPath {
  fill: #ffffff !important;
}

.SidePane, .ContentView {

    float: left;
    outline: solid 0px #000;
    resize: both;
    height: 100%;
}

div.SidePane {
    width: 20%;
    min-width: 200px;
    /*background-color: #222222;*/
}

div.ContentView {
    width: 80%;
    min-width: 200px;
    max-width: 100%;
    /*background-color: #292929;*/
}

md-tab-content {
    height: 100% !important;
    margin: 0px !important;
    position:absolute !important;
    top:0 !important;
    right:0 !important;
    border-width: 0px !important;
}

md-tabs {
    height: 100% !important;
    margin: 0px !important;
    top: 0 !important;
    right: 0 !important;
    border-width: 0px !important;
}

.ToolbarComponent {
    /*height: 48px !important;*/
}

.TabViewComponent {
    height: 56px !important;
}

.CodeEditor {
  width: 100%;
  height:100%;
  margin: 0px;
  position: fixed;
  overflow:hidden;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-width: 0px;
}

.listtem-img path {
  fill: #999999;
}

.CodeMirror-scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.CodeMirror {
    height: 100% !important;
}

md-toolbar {
    height: 48px !important;
    min-height: 48px !important;
}
