md-tabs, h1, span, img, .TableSubheader, button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.AppComponent {
    width: 100%;
    height:100%;
    margin: 0px;
    position: fixed;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
}

.LayoutComponent {
    width: 100%;
    height:100%;
    margin: 0px;
    position: fixed;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
}

.EditorComponent {
    width: 100%;
    height:100%;
    margin: 0px;
    position: fixed;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    border-width: 0px;
    display: box;
    box-flex: 1;
}

.InfoBarComponent {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.SidePaneSection {
  width: 20%;
  height: 100%;
  min-width: 200px;
}

.ContentSection {
  width: 80%;
  height: 100%;
}

.SidePaneTrayComponent {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.ContentViewTrayComponent {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.OAEDButton {
  position: relative;
  color: #ffffff;
  border-width: 0px;
  width: 90%;
  min-width: 180px;
  height: 32px;
  background-color: rgb(0, 168, 82);
  margin-top: 100%;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.OAEDButton:hover {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(4, 129, 65);
}

.OAEDButton:active {
  color: #ffffff;
  border-width: 0px;
  background-color: rgb(2, 89, 45);
}

.OAEDButton:focus {
  outline: none;
}

.TrayButtonComponent {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  padding: 0;
}

.TrayButtonComponent:hover {
  color: #ffffff;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.TrayButtonComponent:active {
  color: #ffffff;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.TrayButtonComponent:focus {
  outline: none;
}

.SPTSettingsButton {
  right: 0;
  float: right;

  margin-right: 0px !important;
}

.TrayButtonIconComponent {
  padding-top: 2px;
}

#svgPath {
  fill: #ffffff !important;
}

.SidePane, .ContentView {

    float: left;
    outline: solid 0px #000;
    resize: both;
    height: 100%;
}

div.SidePane {
    width: 20%;
    min-width: 200px;
    /*background-color: #222222;*/
}

div.ContentView {
    width: 80%;
    min-width: 200px;
    max-width: 100%;
    /*background-color: #292929;*/
}

.ToolbarComponent {
    /*height: 48px !important;*/
}

.TabViewComponent {
    height: 56px !important;
}

.listtem-img path {
  fill: #999999;
}

.CodeMirror-scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}
