<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="../../../bower_components/angular-material/angular-material.min.css">

        <!-- build:js scripts/vendor.js -->
        <script src="../../../bower_components/angular/angular.js"></script>
        <script src="../../../bower_components/angular-route/angular-route.js"></script>
        <script src="../../../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../../../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../../../bower_components/angular-material/angular-material.js"></script>

        <!--Controllers & Styles-->
        <link rel="stylesheet" href="../../styles/main.css">
        <script src="../../scripts/controllers/AudioViewerController.js"></script>

        <script>
          // Required Classes and dependencies
          var electron = window.parent.electron;
          var fs = window.parent.fs;

          var themeManager = window.parent.themeManager;
          var fileManager = window.parent.fileManager;
        </script>
    </head>
     <body ng-app="Audio-Viewer">
        <div ng-controller="AudioViewerController as AudioViewer" flex layout-fill>
          <link rel="stylesheet" ng-href="{{MainStaticsStyleFile}}">
          <div ng-style="BackgroundStyle" flex layout-fill>
            <div flex layout="column" role="main" class="md-whiteframe-z2">
                <audio id="audio-viewer" class="md-whiteframe-8dp" controls preload>
                </audio>
            </div>
          </div>
        </div>
    </body>
</html>
