<html>
    <head>
        <meta charset="UTF-8">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="../../../bower_components/angular-material/angular-material.min.css">
        
        <!-- build:js scripts/vendor.js -->
        <script src="../../../bower_components/angular/angular.js"></script>
        <script src="../../../bower_components/angular-route/angular-route.js"></script>
        <script src="../../../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../../../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../../../bower_components/angular-material/angular-material.js"></script>
            
        <!--Controllers & Styles-->
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/DynamicTabs.css">
        <link rel="stylesheet" href="../../styles/FABSpeedDial.css">
        <script src="../../scripts/controllers/EditorController.js"></script>
    </head>
    <body>
>
    </body>
</html>