h1 {
  color: #f9f9f9;
}

h2 {
  color: #f1f1f1;
}

h3 {
  color: #999999;
}

p {
  color: white;
}

.md-tab.md-active span {
  color: white !important;
}

.md-tab span {
  color: #999999 !important;
}

.CodeMirror-cursor {
      border-left: 1px solid white !important;
}

.CodeMirror-gutters {
  border-right: 0px solid #ddd;
  background-color: #242424 !important;
}

.CodeMirror {
  background: #292929 !important;
  color: white !important;
}
