<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.min.css">
    
    <!-- build:js scripts/vendor.js -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../../bower_components/angular-material/angular-material.js"></script>
        
    <!--Controllers & Styles-->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/DynamicTabs.css">
    <script src="../scripts/controllers/EditorController.js"></script>
    
    <!-- Create a simple CodeMirror instance -->
    <link rel="stylesheet" href="../../bower_components/codemirror/lib/codemirror.css">
    <script src="../../bower_components/codemirror/lib/codemirror.js"></script>
  </head>
  <body ng-app="Zen-Editor">
        <div ng-controller="EditorController" style="width:100%" layout="row" flex layout-fill>
            <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z4"
                        md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-sm')">

                <md-toolbar class="md-whiteframe-z2" >
                    <div class="md-toolbar-tools">
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="More">
                        <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="it in _ctrl.customers">
                        <md-button ng-click="_ctrl.selectCustomer(it, $index)" ng-class="{'selected' : it === _ctrl.selected }">
                            {{it.name}}
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>

            <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2"> 
                <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect flex>
                    <md-tab ng-repeat="tab in tabs"
                            ng-disabled="tab.disabled"
                            label="{{tab.title}}">
                        <div class="demo-tab tab{{$index%4}}" style="padding: 0px; text-align: center;">
                            <textarea id="code">if (var return) else {}</textarea> 
                            <script>
                                var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                                    lineNumbers: true,
                                    mode: "mixedhtml"
                                });
                            </script>
                            <!--<md-content class="autoScroll" style="padding: 0px;">
                                 
                                <div ng-bind="tab.content"></div>
                                <br/>
                                <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
                            </md-content>-->
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
  </body>
</html>